* {
    margin: 0px;
    padding: 0px;
}

#container {
    margin: auto center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container > * {
    margin: 5px;
}

#guess_box > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}